# Core numerical computing
numpy
scipy

# Data handling
pandas
pyarrow

# Speed up
numba

# Visualization (2D)
matplotlib
imageio

# Visualization (3D)
pyvista

# Utilities
tqdm
# Realtime backend
fastapi
uvicorn[standard]
